//Header

.header {
  padding: 20px;
  background-color: rgba(0, 0, 10, 0.7);
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 999;
  button {
    min-width: inherit;
    margin-right: 30px;
  }
}

////////////////////////////////////

// Sidebar
.sidebar {
  min-width: 250px;
  background-color: rgba(0, 0, 10, 0.5);
  height: 100%;
  color: #fff;
  font-size: 18px;
  padding: 50px 0;
  mat-icon {
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
    &.active {
      font-weight: 600;
      background-color: rgba(255,255,255, 0.02);
      mat-icon {
        color: #27d2fa;
      }
    }
    &:hover {
      background-color: rgba(255,255,255, 0.02)
    }
  }
}
.video {
  mat-icon {
    right: 3px;
  }
}

////////////////////////////
mat-sidenav-container {
  height: 100%;
  background-color: rgba(0, 0, 10, 0.5);
}

mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c5-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted {
  background-color: transparent;
}

mat-sidenav-content {
  background-color: rgba(0, 0, 10, 0.3);
}
