.title {
  margin-bottom: 15px;
  text-align: center;
}
.description {
  color: #777;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  .input-wrapper {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    .form-control {
      height: 45px;
      font-size: 18px;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    .tooltip {
      font-size: 12px;
      color: red;
    }
  }
  .btn {
    margin-top: 10px;
    background-color: #1A237E;
    border: none;
    color: white;
    padding: 10px;
    line-height: 1.5;
    font-size: 20px;
    &:disabled {
      opacity: 0.5;
    }
  }
}
input.ng-touched.ng-invalid {
  border: 1px solid red;
  color: red;
}
input.ng-touched.ng-valid {
  border: 1px solid green;
}
