<div class="title">
  <h2>Вход</h2>
</div>
<form [formGroup]="signInForm"
      class="signInForm">
  <div class="input-wrapper">
    <span> Email адресс: </span>
    <input type="email"
           formControlName="email"
           class="form-control"
           placeholder="example@example.com">
  </div>
  <div class="input-wrapper">
    <span> Пароль: </span>
    <input type="password"
           formControlName="password"
           class="form-control"
           placeholder="Ваш пароль">
  </div>
  <button type="button"
          (click)="onSignIn()"
          class="btn"> Войти
  </button>
</form>

