.wrapper {
  display: flex;
  flex-direction: column;
  .form-control {
    height: 45px;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;

  }
}
